@model Instagram.Models.GalleryIndexModel


<section>
    @foreach (var post in Model.Posts)
    {
        <div class='insta fade-scroll'>
            <div class='top-insta'>
                <a asp-route-username="@post.User.UserName" asp-controller="Gallery" asp-action="Index"><img src='https://images.pexels.com/photos/5256/city-cars-road-houses.jpg?auto=compress&cs=tinysrgb&h=750&w=1260'></a>
                <a asp-route-username="@post.User.UserName" asp-controller="Gallery" asp-action="Index" class='user'>@post.User.UserName</a>
                <span class='dot'></span>

            </div>
            <div class='post'>
                <div class="overlay">
                    <a>
                        <span data-post-id="@post.Id" class="js-toggle">
                        </span>
                    </a>
                </div>
                <img src='@post.Url'>
            </div>
            <div class='footer'>

                <div class='react'>
                    @if (post.IsSetLike)
                    {
                        <a class="icons-href" style="text-decoration: none">
                            <i data-post-id="@post.Id" class="fa fa-heart fa-2x red-heart js-toggle" aria-hidden="true"></i>
                        </a>
                    }
                    else
                    {
                        <a class="icons-href" style="text-decoration: none; color: black">
                            <i data-post-id="@post.Id" class="fa fa-heart-o fa-2x js-toggle" aria-hidden="true"></i>
                        </a>
                    }
                    <span class="lg-like-txt-post" style="font-weight:bold">@post.Likes.Count likes</span>
                    &emsp;
                    <a href="#" style="text-decoration: none; color: black">
                        <i class="fa fa-comment-o fa-2x"></i>
                    </a>
                    <span class="lg-like-txt-post" style="font-weight:bold">@post.Comments.Count comments</span>
                </div>

                <div class='caption'>
                    <a href='#'>@post.User.UserName</a><span>@post.Title</span>
                </div>
                <div>
                    @post.Description
                </div>
                <hr/>
                <span>@post.Created.ToLongDateString()</span>
                <div class='comment-section'>
                    <input type='text' id='cmnt' placeholder='Add a comment...'>
                    <span class='dot02'></span>
                </div>

            </div> <!-- end Footer -->
        </div> <!-- end Insta -->
    }
</section>


@section scripts
    {
    <script>
        $(document).ready(function () {
            $(".js-toggle").click(function (e) {
                var id = $(e.target).attr("data-post-id");
                $.post("/Post/SetLike", { postId: id })
                    .done(() => window.location.href = "/Gallery/Detail/" + id);
            });
        });
    </script>
}

