@model Instagram.Models.GalleryIndexModel


<section>
    @foreach (var post in Model.Posts)
    {
        <div class='insta fade-scroll'>
            <div class='top-insta'>
                <a asp-route-username="@post.User.UserName" asp-controller="Gallery" asp-action="Index"><img src='https://images.pexels.com/photos/5256/city-cars-road-houses.jpg?auto=compress&cs=tinysrgb&h=750&w=1260'></a>
                <a asp-route-username="@post.User.UserName" asp-controller="Gallery" asp-action="Index" class='user'>@post.User.UserName</a>

                <span class='dot'></span>

            </div>
            <div class='post'>
                <div class="overlay">
                    <a>
                        <span data-post-id="@post.Id" class="js-big-heart">
                        </span>
                    </a>
                </div>
                <img src='@post.Url'>
            </div>
            <div class='footer'>

                <div class='react'>
                    <a class="icons-href">
                        <i data-post-id="@post.Id" id="@("heart"+post.Id)" class="fa @(post.IsSetLike ? "fa-heart" : "fa-heart-o") fa-2x @(post.IsSetLike ? "red-heart" : "") js-like" @(post.IsSetLike ? "liked" : "") aria-hidden="true"></i>
                    </a>
                    <a class="icons-href">
                        <span id="@("like"+post.Id)" data-post-like-id="@post.Id" class="lg-like-txt-post js-like-count" style="font-weight:bold">@post.Likes.Count likes</span>
                    </a>

                    &emsp;
                    <a href="#" class="icons-href">
                        <i class="fa fa-comment-o fa-2x"></i>
                    </a>
                    <span id="@("cmnt-count"+post.Id)" class="lg-like-txt-post" style="font-weight:bold">@post.Comments.Count comments</span>
                </div>

                <div class='caption'>
                    <a href='#'>@post.User.UserName</a><span>@post.Title</span>
                </div>
                <div>
                    @post.Description
                </div>
                <hr />
                <span>@post.Created.ToLongDateString()</span>
                <div class='comment-section'>
                    <input type='text' id="cmnt" data-post-cmnt-id="@post.Id" class="js-cmnt" placeholder='Add a comment...'>
                    <span class='dot02'></span>
                </div>

            </div> <!-- end Footer -->
        </div> <!-- end Insta -->

        <div class="modal fade" id="@("modal"+post.Id)" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modal-title">Likes</h4>
                    </div>
                    <div class="modal-body" id="@("modal-content"+post.Id)" style="overflow-y: scroll; max-height:85%;">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    }
</section>



@section scripts
    {
    <script>
        $(document).ready(function () {

            $('.js-cmnt').keydown(function (e) {
                if (e.keyCode == 13) {

                    var id = $(e.target).attr("data-post-cmnt-id");
                    var cmnt = $(e.target);

                    var cmnt_id = ("#" + "cmnt-count" + id)
                    var cmnt_count = parseInt($(cmnt_id).html());
                    var value = $(cmnt_id).val();

                    $.post("/api/post/comment",
                        {
                            message: $(cmnt).val(),
                            commenterId: "@Model.User.Id",
                            postId: id
                        });

                    $(cmnt_id).html(cmnt_count + 1 + " comments");
                    console.log("Press enter:" + value);
                    $(cmnt).val("");
                }
            });

            $(".js-like-count").click(function (e) {

                var id = $(e.target).attr("data-post-like-id");
                $.get("/Post/GetLikers", { postId: id })
                    .done(response => {
                        var modal_id = ("#" + "modal" + id)
                        var modal_content = ("#" + "modal-content" + id)
                        $(modal_content).html(response);
                        $(modal_id).modal("show");
                    })
                    .fail(() => console.log("Kak tak"));
            });
            $(".js-like").click(function (e) {

                var icon = $(e.target)
                var id = $(icon).attr("data-post-id");

                $.post("/Post/SetLike", { postId: id })
                    .done(function () {

                        var like_id = ("#" + "like" + id)
                        var count = parseInt($(like_id).html());

                        if ($(icon)[0].hasAttribute("liked")) {

                            $(like_id).html(count - 1 + " likes");
                            $(icon).removeAttr("liked");
                            $(icon).removeClass("fa-heart").addClass("fa-heart-o");
                            $(icon).removeClass("red-heart");
                        } else {

                            $(like_id).html(count + 1 + " likes");
                            $(icon).attr("liked", "1");
                            $(icon).removeClass("fa-heart-o").addClass("fa-heart");
                            $(icon).addClass("red-heart");
                        }
                    });
            });
            $(".js-big-heart").click(function (e) {

                var big_heart = $(e.target)
                var id = $(big_heart).attr("data-post-id");

                $.post("/Post/SetLike", { postId: id })
                    .done(function () {

                        var like_id = ("#" + "like" + id)
                        var count = parseInt($(like_id).html());
                        small_heart = ('#' + "heart" + id)

                        if ($(small_heart)[0].hasAttribute("liked")) {

                            $(like_id).html(count - 1 + " likes");
                            $(small_heart).removeAttr("liked");
                            $(small_heart).removeClass("fa-heart").addClass("fa-heart-o");
                            $(small_heart).removeClass("red-heart");
                        } else {

                            $(like_id).html(count + 1 + " likes");
                            $(small_heart).attr("liked", "1");
                            $(small_heart).removeClass("fa-heart-o").addClass("fa-heart");
                            $(small_heart).addClass("red-heart");
                        }
                    });
            });
        });
    </script>
}