@using Microsoft.CodeAnalysis.CSharp.Syntax
@model Instagram.Models.GalleryDetailModel


<div class="container body-content">
    <div class="col-md-7">
        <div class="row post-detail-cotainer">

            <div class="post-detail">
                <img src="@Model.Url" alt="@Model.Title" />
            </div>
        </div>
    </div>
    <div class="col-md-5">

        <h2>@Model.Title</h2>
        <hr>
        <p>
            @Model.Description
        </p>
        <div class="row post-detail-meta">

            @if (true)
            {
                <a href="#" style="color: black">
                    <span class="glyphicon glyphicon-heart red-heart lg-heart"></span>
                </a>
            }
            else
            {
                <a href="#" style="color: black">
                    <span class="glyphicon glyphicon-heart-empty lg-heart"></span>
                </a>
            }
            <span  style="font-weight:bold">@Model.Likes.Count likes</span>
            <a href="#" style="color: black">
                <span class="glyphicon glyphicon-comment gray-comment lg-commets"></span>
            </a>
            <hr>
            <span style="font-weight:bold">Uploaded: </span>
            <span>@Model.Created.ToShortDateString(), @Model.Created.ToShortTimeString()</span>
        </div>
        <div class="row controls">
            <a class="btn btn-primary" asp-controller="Gallery" asp-action="Index">
                Back to all
            </a>
        </div>

    </div>

</div>
