@using Instagram.Data.Model
@using Microsoft.AspNetCore.Identity
@using Instagram.Controllers
@model Instagram.Models.GalleryIndexModel


@inject UserManager<AspNetUsers> UserManager

<div class="conteiner body-content">
    <div class="rela-block profile-card">
        <div class="profile-pic" id="profile_pic" style="background-image: url(http://pbs.twimg.com/media/CdbiubzVIAANj8J.jpg)"></div>
        <div class="rela-block profile-name-container">
            <div class="rela-block user-name" id="user_name">@Model.User.UserName</div>

            @if (UserManager.GetUserId(User) != Model.User.Id)
            {
            <button class="btn btn-link btn-sm js-follow" data-user-id="@Model.User.Id">@(Model.IsFollow ? "UnFollow" : "Follow")</button>
            }

        </div>
        <div class="rela-block profile-card-stats">
            <div class="floated profile-stat works" id="num_works">
                <a data-toggle="modal" data-target="#exampleModal" class="icons-href">
                    @Model.Posts.Count()
                </a>
                <br>
            </div>
            <div class="floated profile-stat followers" id="num_followers">
                @Model.User.Followers.Count
                <br>
            </div>
            <div class="floated profile-stat following" id="num_following">
                @Model.User.Followings.Count
                <br>
            </div>
        </div>
    </div>
    <div class="row gallery-content">
        @foreach (var post in Model.Posts)
        {

            <div class="gallery-post-container drop-shadow post">
                <a asp-controller="Gallery" asp-action="Detail" asp-route-id="@post.Id">
                    <div class="overlay">
                        <span style="background-image: none; width: 300px;">
                            <div class="post-like-text">
                                <i class="fa fa-heart-o fa-lg " aria-hidden="true"></i>
                                @post.Likes.Count
                                &emsp;
                                <i class="fa fa-comment-o fa-lg " aria-hidden="true"></i>
                                @post.Comments.Count
                            </div>
                        </span>
                    </div>
                    <div class="gallery-post" style="background-image: url(@post.Url)"></div>
                </a>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
    $(document).ready(function() {
        $(".js-follow").click(function (e) {

            var button = $(e.target);
            var id = $(button).attr("data-user-id");

            $.post("/Follows/Following", { followingId: id })
                .done(function () {

                    var btn_txt = $(button).text();
                    if (btn_txt == "Follow") {
                        button.text("UnFollow");
                    } else {
                        button.text("Follow");
                    }
                })
                .fail(function() {
                    alert("failed");
                });
        });
        });
    </script>
    <script>
        $(document).ready(function() {
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/follows/add/@Model.User.Id")
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        alert("Something failed" + button.attr("data-user-id"));
                    });
            });
        });
    </script>


}

